# Geocoding in Python

The difference between Google Map API and  OpenStreetMap API

# Method 1: Google Maps API

In [3]:
import csv
import pandas as pd
import numpy as np
import googlemaps

In [8]:
data = pd.read_csv(r'C:\Users\nimam\Downloads\archive\zomato.csv',encoding="ISO-8859-1")

In [9]:
df = data.copy()
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [4]:
df = df[['Address']]
df = df.drop_duplicates()
#df = df.iloc[0:500, :]
df

                                                Address
0     Third Floor, Century City Mall, Kalayaan Avenu...
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                                                 ...
9546  Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...
9547  Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...
9548  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9549  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9550  CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...

[8918 rows x 1 columns]

In [5]:
gmaps_key = googlemaps.Client(key = 'AIzaSyCtKUcJ4Xisu8P6P15alI8rdogGG3yCTaY')

In [6]:
add_1 = df['Address'][0]
g = gmaps_key.geocode(add_1)
g

[{'address_components': [{'long_name': 'Century City',
    'short_name': 'Century City',
    'types': ['establishment', 'point_of_interest']},
   {'long_name': 'Kalayaan Avenue',
    'short_name': 'Kalayaan Ave',
    'types': ['route']},
   {'long_name': 'Makati',
    'short_name': 'Makati',
    'types': ['locality', 'political']},
   {'long_name': 'Metro Manila',
    'short_name': 'NCR',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Philippines',
    'short_name': 'PH',
    'types': ['country', 'political']},
   {'long_name': '1210', 'short_name': '1210', 'types': ['postal_code']}],
  'formatted_address': 'Century City, Kalayaan Ave, Makati, 1210 Metro Manila, Philippines',
  'geometry': {'location': {'lat': 14.565466, 'lng': 121.0276651},
   'location_type': 'GEOMETRIC_CENTER',
   'viewport': {'northeast': {'lat': 14.5666786802915,
     'lng': 121.0291634802915},
    'southwest': {'lat': 14.5639807197085, 'lng': 121.0264655197085}}},
  'partial_match': True,
  'place_id': 'ChIJFcxQNwfJlzMRwGyuoos8pcM',
  'plus_code': {'compound_code': 'H28H+53 Makati, Metro Manila, Philippines',
   'global_code': '7Q63H28H+53'},
  'types': ['establishment', 'point_of_interest', 'shopping_mall']}]

In [7]:
lat = g[0]["geometry"]["location"]["lat"]
long = g[0]["geometry"]["location"]["lng"]
#print('Latitude: '+str(lat)+', Longitude: '+str(long))
print ("Latitude: {}, Longitude: {}".format(str(lat), str(long)))

Latitude: 14.565466, Longitude: 121.0276651

In [9]:
#df3['Address'] = df3['Address'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
cols = df.select_dtypes(include=[object]).columns
df[cols] = df[cols].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))

In [10]:
df = df.iloc[0:500, :].copy()
df

                                               Address
0    Third Floor, Century City Mall, Kalayaan Avenu...
1    Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2    Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3    Third Floor, Mega Fashion Hall, SM Megamall, O...
4    Third Floor, Mega Atrium, SM Megamall, Ortigas...
..                                                 ...
498  204 Beach Drive Northeast, St Petersburg, FL 3...
499               10 Beach Dr, St Petersburg, FL 33701
500           332 Beach Dr NE, St Petersburg, FL 33701
501                 1208 S Howard Ave, Tampa, FL 33606
502                  901 W. Platt St., Tampa, FL 33606

[500 rows x 1 columns]

In [11]:
df['Address']

0      Third Floor, Century City Mall, Kalayaan Avenu...
1      Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2      Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3      Third Floor, Mega Fashion Hall, SM Megamall, O...
4      Third Floor, Mega Atrium, SM Megamall, Ortigas...
                             ...
498    204 Beach Drive Northeast, St Petersburg, FL 3...
499                 10 Beach Dr, St Petersburg, FL 33701
500             332 Beach Dr NE, St Petersburg, FL 33701
501                   1208 S Howard Ave, Tampa, FL 33606
502                    901 W. Platt St., Tampa, FL 33606
Name: Address, Length: 500, dtype: object

In [12]:
# as the original code returns IndexError: list index out of range, I tried this code:
# geocode the entire dataframe:

def geocode(add):
    g = gmaps_key.geocode(add)
    if g:
        lat = g[0]["geometry"]["location"]["lat"]
        lng = g[0]["geometry"]["location"]["lng"]
        return lat, lng
    else:
        return None, None


df['geocoded'] = df['Address'].apply(geocode)

In [13]:
df

,Address,geocoded
0,"Third Floor, Century City Mall, Kalayaan Avenu...","(14.565466, 121.0276651)"
1,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","(14.553689, 121.014294)"
2,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","(14.5813906, 121.0570799)"
3,"Third Floor, Mega Fashion Hall, SM Megamall, O...","(14.583662, 121.0558116)"
4,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","(14.5859462, 121.0565345)"
...,...,...
498,"204 Beach Drive Northeast, St Petersburg, FL 3...","(27.7737426, -82.63296629999999)"
499,"10 Beach Dr, St Petersburg, FL 33701","(27.7714391, -82.6335459)"
500,"332 Beach Dr NE, St Petersburg, FL 33701","(27.7758481, -82.6321798)"
501,"1208 S Howard Ave, Tampa, FL 33606","(27.9318624, -82.4827004)"
502,"901 W. Platt St., Tampa, FL 33606","(27.9418973, -82.4688025)"

In [14]:
df.isnull().sum()

Address     0
geocoded    0
dtype: int64

# Method 2: OpenStreetMap API

In [6]:
print('Address: '+data['Address'][0]+'\n\nLocality: '+data['Locality'][0])

Address: Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City

Locality: Century City Mall, Poblacion, Makati City

In [10]:
df = data.copy()
df = data[['Locality']]
df = df.drop_duplicates()

The address column is a lot more granular than the locality column, and it provides the exact location of the restaurant, including the floor number. This might be the reason the address isn't recognized by the OpenStreetMap API, but the locality is.

In [16]:
import urllib.parse
import requests

location = df['Locality'][0]

url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(location) + '?format=json'
response = requests.get(url).json()
print('Latitude: ' + response[0]['lat'] + ', Longitude: ' + response[0]['lon'])

Latitude: 14.5656333, Longitude: 121.0276565402327

In [12]:
df = df.iloc[0:500, :].copy()

In [20]:
def geocode2(locality):
    url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(locality) +'?format=json'
    response = requests.get(url).json()
    if(len(response)!=0):
        return(response[0]['lat'], response[0]['lon'])
    else:
        return('-1')

df['geocoded'] = df['Locality'].apply(geocode2)

In [21]:
df

,Locality,geocoded
0,"Century City Mall, Poblacion, Makati City","(14.5656333, 121.0276565402327)"
1,"Little Tokyo, Legaspi Village, Makati City",-1
2,"Edsa Shangri-La, Ortigas, Mandaluyong City",-1
3,"SM Megamall, Ortigas, Mandaluyong City",-1
6,"SM by the Bay, Mall of Asia Complex, Pasay City",-1
...,...,...
2182,"Two Horizon Center, Golf Course Road",-1
2185,Udyog Vihar,"(28.68219895, 77.0884870400779)"
2222,"Unitech Cyber Park, Sector 39, Gurgaon","(28.4428641, 77.0558748369136)"
2227,"Unitech Infospace, Sector 21, Gurgaon","(28.5107196, 77.07184669731409)"
2252,"Vivanta by Taj, Sector 44, Gurgaon","(28.4560155, 77.0706323)"

The Google Map Api does the geocoding more efficient and accurate comparing to OpenStreetMap API. As it is abvious, there are many address which OSM API could not recognize.